#header {
  height: 90vh;
  display: flex;
  /*#bg-logo:hover {
    background: #161922;
    transition: all .5s ease-in!important;
  }*/ }
  #header img {
    width: 100vw;
    height: 90vh;
    position: fixed;
    margin: 0; }
  #header .pro-icon {
    width: 250px;
    height: 250px;
    background-image: url("./img/projects/restaurante.jpg");
    background: #a6efc6;
    overflow: hidden;
    z-index: 1; }
  #header #bg-logo {
    width: 300px;
    height: 100px;
    margin: 8rem 42.5%;
    position: absolute;
    z-index: 1;
    cursor: pointer; }

#content {
  height: 0;
  z-index: 10;
  position: relative;
  background: #fafafa; }
  #content #navbar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    background: #161922;
    box-shadow: 5px 0 4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

#logo {
  cursor: pointer;
  margin-top: 15px;
  margin-left: 4rem;
  font-size: 35px;
  font-family: 'Raleway Dots';
  float: left; }
  #logo a {
    color: #fff; }
  #logo a:hover {
    text-decoration: none; }

.logo-line {
  text-decoration: line-through;
  opacity: 0.4; }

.logo-line:hover {
  content: 'dxdd';
  text-decoration: none; }

#navbar ul {
  margin-top: 25px;
  float: right;
  width: 700px;
  list-style: none; }
  #navbar ul li {
    display: inline; }
    #navbar ul li a {
      color: #fff;
      font-size: 20px;
      padding: 10px 25px;
      font-family: 'Raleway';
      text-decoration: none;
      opacity: 0.75; }
    #navbar ul li a:hover {
      opacity: 1; }
  #navbar ul li:nth-child(n+1):nth-child(-n+3):hover a {
    text-decoration: line-through;
    border: 0.5px solid #fafafa;
    background: #70a588;
    transition: all 0.2s ease-in-out !important; }

@media only screen and (max-width: 880px) {
  #logo {
    display: none; } }
@media only screen and (max-width: 850px) {
  #header #bg-logo {
    margin: 8rem 25%; } }
@media only screen and (max-width: 500px) {
  #header #bg-logo {
    width: 200px;
    height: 70px;
    margin: 8rem 22%; } }
#about {
  position: absolute;
  height: 100%; }
  #about .wrapper .card {
    padding-top: 20vh; }

.card {
  max-width: 900px;
  margin: 0 auto;
  padding: 0; }

.card:after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both; }

.card--about {
  position: relative;
  width: 40%;
  height: 420px;
  padding: 0;
  margin: 0;
  float: left;
  background: #161922;
  z-index: 2;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-transform: translateX(-35px) scale(1.1);
  transform: translateX(-35px) scale(1.1);
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  box-shadow: 5px 0 4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.card--about:after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both; }

.card--about-content {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 10%;
  left: 50%;
  color: #fff;
  font-weight: 300;
  font-size: 2.175rem;
  letter-spacing: 1.7px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.card--about-content:after {
  content: " ";
  position: absolute;
  top: 150%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 1px;
  width: 50%;
  background: #fff; }

.justified {
  text-align: justify;
  text-rendering: optimizeLegibility; }

.card--textContent {
  width: 60%;
  height: 360px;
  float: right;
  padding: .5rem;
  transition: all .5s ease-in-out;
  -webkit-transform: translateY(40px) translateX(30px);
  transform: translateY(40px) translateX(30px);
  text-align: justify;
  font-size: .695rem; }

.card--text {
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1.1;
  color: #161922; }

.card--text a {
  color: #6a2d36;
  font-weight: 700; }

.card--text-main {
  font-weight: 700;
  text-align: center;
  font-size: 2.2rem; }

@media only screen and (max-width: 450px) {
  .card--about {
    display: none; }

  .card--textContent {
    margin: auto;
    margin-right: 8vw;
    width: 100%; } }
#skill {
  margin-top: 75.5vh;
  padding-top: 14rem;
  padding-bottom: 1rem;
  position: relative; }

.skill {
  width: 100%;
  overflow: visible; }

.skill--svg {
  transition: all .4s ease-in-out;
  -webkit-transform: translateX(60px) scale(1.5);
  transform: translateX(60px) scale(1.5); }

.img-icon {
  padding-top: 10px;
  margin-right: 12.75rem;
  width: 5vw; }

.skill--blocks {
  width: 100%;
  margin: 5rem auto;
  padding: 1.5rem 1rem 0;
  box-sizing: border-box;
  overflow: hidden;
  display: flex; }

.skill--blocks:after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both; }

.skill--block {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto 5rem;
  text-align: center;
  float: none; }

.skill--block:after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both; }

.skill--set {
  position: relative;
  padding-top: 2rem;
  font-size: 2.5rem;
  color: #555;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.skill--description {
  width: 100%;
  margin: 0 auto;
  font-size: 1.895rem;
  font-weight: 300;
  padding-top: 10px;
  color: #6f6f6f;
  text-align: justify; }

.skill--description-list {
  width: 100%; }

.skill--description-list > li {
  width: 100%;
  padding: .1rem 0;
  text-align: center;
  line-height: 1.5; }

@media only screen and (max-width: 850px) {
  .skill--blocks {
    display: flex;
    flex-direction: column; }

  .img-icon {
    padding-top: 20px;
    margin-right: 12.75rem;
    width: 15vw; } }
#portfolio .wrapper {
  display: flex;
  flex-direction: row;
  background-color: #fafafa;
  width: 60%;
  margin: 5rem auto 2rem;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.05), 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden; }

.bg {
  position: absolute;
  display: flex;
  transition: width 2s; }

.bg2 {
  position: absolute;
  right: 1px; }

.bg3 {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 90vh;
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding: 3rem 0;
  filter: grayscale(80%);
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.05), 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px;
  background: #000;
  z-index: -1; }

.showcase {
  width: 300px;
  margin: 6.5rem 4.5rem;
  margin-bottom: 0; }
  .showcase img {
    width: 100%;
    border: #ccc 2px solid;
    border-radius: 15px; }

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
  padding-bottom: 11rem;
  padding-right: 5rem; }
  .content p {
    font-size: 2rem;
    padding: 10px;
    padding-left: 0; }
  .content .buttons {
    padding: 5px;
    margin: auto; }
  .content .btn-default {
    padding: 10px 20px;
    background: #161922;
    color: #fff; }
  .content .btn-default:hover {
    background: #fff;
    color: #161922;
    transition: all 0.4s ease-in-out !important; }

.section-title {
  font-size: 30px;
  text-align: center; }
  .section-title .section-title:after {
    display: block;
    content: " ";
    width: 75px;
    margin: 0 auto;
    border: #16aabb 4px solid; }

#contact .wrapper {
  margin: auto;
  background: rgba(5, 5, 5, 0.8);
  color: #fafafa;
  width: 60%;
  height: 60vh;
  padding: 0 5rem 5rem 5rem;
  border-radius: 10px; }
  #contact .wrapper .message {
    padding: 20px; }
  #contact .wrapper .contact h1 a {
    font-size: 6rem;
    color: #fafafa; }

@media only screen and (max-width: 850px) {
  .showcase {
    display: none; }

  .buttons {
    display: flex;
    padding: 10px 0 0 10px; } }
@media only screen and (max-width: 960px) {
  #contact {
    overflow: hidden; }
    #contact .wrapper {
      padding: 0; }
      #contact .wrapper .message h1 {
        font-size: 2rem; }
      #contact .wrapper .contact h1 a {
        font-size: 2rem; } }
@media only screen and (max-width: 1024px) {
  #portfolio .wrapper {
    width: 100%; }

  .content {
    padding: 2rem; }

  #contact {
    overflow: hidden; }
    #contact .wrapper .contact h1 {
      font-size: 4rem; } }
#contact {
  height: 70vh;
  width: 100%;
  margin-top: 20vh; }
  #contact img {
    height: 80px;
    width: 80px; }
  #contact .contact {
    margin-top: 8vh; }

* {
  padding: 0;
  margin: 0; }

#sky {
  opacity: 0.6; }

body {
  font-family: Helvetica;
  background: #fafafa;
  text-align: center;
  overflow-x: hidden; }

.page-section {
  background: #fafafa;
  width: 100%; }

.section-title {
  position: relative;
  font-weight: 500;
  font-size: 3.5652rem;
  text-align: center;
  letter-spacing: 2px;
  color: #8c8c8c; }

.section-title:after {
  content: " ";
  position: absolute;
  top: 150%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 1px;
  width: 50px;
  background: #8c8c8c; }

.social--icon {
  color: #FFF;
  padding: auto;
  cursor: pointer; }

.social--icon:hover {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out; }

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #161922;
  color: #fff;
  font-size: 1.7rem;
  margin: auto;
  padding: 15px;
  box-shadow: 5px 0 4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

@media only screen and (max-width: 850px) {
  footer {
    margin: auto; } }

/*# sourceMappingURL=index.css.map */
